.tituloimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



        .compact-gallery .gallery-item {
            padding: 2px;
        }
        
        .compact-gallery img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
        }
        
        .compact-gallery img:hover {
            transform: scale(1.02);
        }
        
        /* Grid para móviles */
        @media (max-width: 768px) {
            .compact-gallery {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 4px;
                height: 300px;
            }
        }
        
        /* Grid para desktop */
        @media (min-width: 769px) {
            .compact-gallery {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
            }
        }