h1{
  text-align: center;
  color: rgb(0, 0, 0);
}
body.dark-mode .hh1 {
color: #d0b821;
}
body.dark-mode .hh3 {
color: #dce619;
}
body.dark-mode .pp{
  color: #fffff6;
}


body.dark-mode .item{
  background-color: #02152a;
}

/* ESTILO PARA NOSOTROS INF */
.carousel-container,
.carousel-inner,
.carousel-item,
.carousel-item .card {
  height: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.same-height {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 500px; /* puedes ajustar esto según lo necesites */
}


