h1{
  text-align: center;
  color: rgb(0, 0, 0);
}
body.dark-mode .hh1 {
color: #d0b821;
}
body.dark-mode .hh3 {
color: #21d0ca;
}
body.dark-mode .pp{
  color: #d0b821;
}
body.dark-mode .pp{
  color: #d0b821;
}

body .item{
  background-color: rgb(0, 0, 0);
}

/* ESTILO PARA NOSOTROS INF */
.carousel-container,
.carousel-inner,
.carousel-item,
.carousel-item .card {
  height: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.same-height {
  height: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 500px; /* puedes ajustar esto según lo necesites */
}




    .prof-grid {
      display: grid;
      gap: 20px;
      padding: 20px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .prof-box {
      text-align: center;
      padding: 10px;
    }

    .prof-img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      margin-bottom: 10px;
    }

    .prof-name {
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }

    @media (max-width: 500px) {
      .prof-img {
        width: 100px;
        height: 100px;
      }
    }